/* 프로필 컨테이너 */
.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

/* 헤더 스타일 */
.profile-header h1 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;

}

/* 유저 정보 카드 */
.profile-info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.profile-info-table td {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.profile-info-table td:first-child {
  font-weight: bold;
}

/* 닉네임 변경 버튼 */
.nickname-change-btn {
  margin-left: 10px;
}

/* 친구 리스트 세로 스크롤 */
.friend-slider {
  margin-top: 20px;
}

.friend-slider h2 {
  font-size: 1.5rem;
}

.friend-list {
  max-height: 250px; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  background-color: #ffffff; /* 배경 흰색 */
  padding: 10px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.friend-item {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f5f5f5; /* 카드 배경색 */
}
